latex/main-nowbook.tex
latex/main-nowchapter.tex
latex/main-nowebook.tex
latex/main-nowechapter.tex
latex/main-nowplain.tex
latex/main-nowsample.tex
latex/main.aux
latex/main.bbl
latex/main.bcf
latex/main.blg
latex/main.log
latex/main.pdf
latex/main.run.xml
latex/main.synctex.gz
latex/main.toc
latex/main.fls
latex/main.fdb_latexmk
latex/main.fdb_latexmk
latex/main.fdb_latexmk
