# LaTeX temporary files
latex/main-nowbook.tex
latex/main-nowchapter.tex
latex/main-nowebook.tex
latex/main-nowechapter.tex
latex/main-nowplain.tex
latex/main-nowsample.tex
latex/main.aux
latex/main.bbl
latex/main.bcf
latex/main.blg
latex/main.log
latex/main.pdf
latex/main.run.xml
latex/main.synctex.gz
latex/main.toc
latex/main.fls
latex/main.fdb_latexmk
latex/*.out
latex/*.lof
latex/*.lot
latex/*.nav
latex/*.snm
latex/*.vrb

# Editor backup files
*~
*.swp
*.swo
.DS_Store
*.log

# Analysis files
gtsam-analyses/build/
gtsam-analyses/results/
gtsam-analyses/plots/

# Example files
gtsam-examples/build/
